/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fff;
    overflow: hidden;
  }

  .card{
    width: 400px !important;
     margin: 20px !important
}